body{
    background-color: rgb(255, 240, 211);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    text-align: center;
    background-color: rgb(255, 195, 143);
    border: 3px dashed rgb(160,82,45);
    color:rgb(73, 30, 0);
    padding: 9px;
    box-shadow: 10px 10px 10px rgb(95, 40, 0);
}

ol{
    font-weight:700;
    border: 4px solid rgb(153, 41, 0);
    color: rgb(85, 0, 0);
    box-shadow: 10px 10px 10px rgb(100, 0, 0);
    background-color: rgb(255, 173, 143);
}

li{
    padding: 3px;
}

@media screen and (max-width:800px){
    .principal, .conteúdo{
        width: 100%;
        padding: 0;
    }
}